header {
    background-color: rgb(180, 140, 218);
    color:rgb(69, 119, 69);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

main {
    background-color: rgb(55, 83, 52);
    color: black;
    max-width: 800px;
    margin: 0 auto;
}